# Node.js
node_modules/

*node_modules

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Environment files
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store   # macOS
Thumbs.db   # Windows

# IDE/Editor folders
.vscode/
.idea/
*.swp

# Build folders
dist/
build/

# Optional: If using coverage
coverage/

# Optional: If using yarn
yarn-debug.log*
yarn-error.log*
